<div class="container col-xl-12 col-lg-12 col-md-12">
    <main>
        <h2>Welcome to our News Application!</h2>
        <p>
            Explore the latest news articles, read them, and save your favorites to the wishlist.
        </p>
    
        <div class="api-info">
            <h3>API Information</h3>
            <p>
                To fetch news articles, register with the following API and obtain the API Key:
                <a href="https://rapidapi.com/hub" target="_blank">Rapid API</a>
            </p>
        </div>
    
        <div class="button-container">
            <a routerLink="/search" class="button">Explore News</a>
        </div>
    </main>
</div>